body {
  font-family: Arial, Helvetica, sans-serif;
}

#main-heading {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
}
#todo-Date,
#todo-input {
  font-size: 15px;
  padding: 10px 5px;
}
.btn-todo {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  background-color: rgb(18, 213, 76);
  cursor: pointer;
}
.btn-delete {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  background-color: brown;
  cursor: pointer;
}
.grid-container,
.todo-container {
  align-items: center;
  margin-left: 36%;
}
